$font-color: #a98467;

.logo_title{
    text-align: center;
    color: $font-color;
}

.verify-otp-wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 50px;
    padding: 50px;
}